.form{
    margin:0 auto;
    position: relative;
    width:350px;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);
}
.form .logo2{
    
    width: 100px;
    height: 100px;
    
    margin: 0 auto;
    box-shadow: 0px 0px 2px #cecdcd,
    0px 0px 0px 5px #0a0a0a,
    8px 8px 15px #353638,
    -8px -8px 15px rgb(0, 0, 0);
}
.form .logo2 .imgbutton[type="file"]{
    position: relative;
    
    
    height: 100%;
    width: 100%;
    color: white;
    background: transparent;
    border:0;
    opacity: 0;
    z-index: 1;
}
.form .logo2:hover .imgbutton{
    
    opacity: 1;
}
.form h2{
    color:#c7c7c7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.form .input{
    text-align:left;
    margin-top: 40px;
}
.form .input .inputBox{
    margin-top: 20px;
}
.form .input .inputBox label{
    display:block;
    color:#868686;
    margin-bottom: 5px;
    font-size: 18px;
}
.form .input .inputBox input{
    width:100%;
    height: 50px;
    background: #131419;
    border: none;
    outline:none;
    border-radius: 40px;
    padding:5px 15px;
    color:#fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputBox input[type="submit"]{
    margin-top: 20px;
    background-color:#10a9eb;
    color: #09080f;;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputBox input[type="submit"]:active{
    color:#006c9c;
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputBox input::placeholder{
    color: #555;
    font-size: 18px;
}
.forget{
    margin-top: 30px;
    color:#555;
}
.forget text{
    text-underline-position: below;
    color: #ff0047;
}
.forget text:hover{
    cursor:pointer;
}
.register{
    margin-top: 30px;
    color:#555;
}
.register a{
    color: #ec004f;
}
