.body{
    margin:0;
    padding:0;
    font-family: verdana;
    overflow: hidden;
}
.center{
    background-color:red ;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: animater 5s linear infinite;
    transform: translate(-50%,-50%) ;
}
.pencil{
    width:300px;
    height:30px;
    background: #ffc334;
    overflow: hidden;
     border-top: 10px solid #ffd268;
    border-bottom: 10px solid #e2af38; 
    transform-origin:top ;

}
.pencil p{
    margin: 0;
    padding:0;
    text-align: center;
    font-size: 9px;
    line-height: 13px;
    text-transform: uppercase;
    font-weight:normal;
    color: black;
    white-space: nowrap;
}
.pencil:before{
    content: '';
    position: absolute;
    left: -80px;
    top: 0;
    border-style: solid;
    border-color: transparent #e29639 transparent transparent;
    border-width: 15px 40px 15px;
}
.pencil:after{
    content: '';
    position: absolute;
    left: -80px;
    top: 0;
    border-style: solid;
    border-color: transparent #262626 transparent transparent;
    border-width: 15px 40px 15px;
    transform: scale(.3);
}
.top{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width:30px;
    background: #ccc;
    border-top: 10px solid #dedede;
    border-bottom: 10px solid #b9bfbf; 
}
.top:before{
    content:'';
    position: absolute;
    top:-10px;
    right:-100%;
    width: 150%;
    height: 30px;
    background: #d76f6e;
    border-top: 10px solid #d76f6e;
    border-bottom: 10px solid #d76f6e;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px; 
    z-index: 2;
}
.stroke{
    position: absolute;
    top: 50%;
    left: calc(50% - 5px);
    transform: translate(-50%,-50%) rotate(45deg);
    border:5px solid transparent;
    border-left-color: #000;
    border-top-color: #000;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    z-index: 1;
}
@keyframes animater{
   0%{
       transform: translate(-50%,-50%) rotate(360deg);
   }
   100%{
    transform: translate(-50%,-50%) rotate(0deg);
   }
}